.custom-search {
	margin-top: 20px;
}

h2 {
	color: #A8A8A8;
}

body {
	background-image: url("../images/bg1.png");
}

hr {
	margin: 0px;
}

.navbar {
	position: relative;
	width: 100%;
	background-color: transparent;
	border-color: transparent;	
	background-image: url("../images/nav-bg.png");
	margin-bottom: 0px;
	padding-bottom: 15px;
}

.navbar .container {
	margin-top: 15px;
}

.navbar-header .navbar-brand {
	padding-top: 25px;
	font-size: 28px;
	color: #2EBB2E;
}

.search-button {
	width: 150px;
	font-weight: bold;
}

#autoSuggestDiv {
	width: auto;
	height: auto;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	box-shadow: 2px 2px 2px #000;
	padding-top: 2px;
	padding-bottom: 2px;
}

.results-header {
	color: #A8A8A8;
}

.container .row {
	width: 78%;
	margin-left: auto;
	margin-right: auto;
}